.subjectHeader {
  color: purple;
  font-family: sans-serif;
}

thead, tfoot {
  color: blue;
}

ul {
  list-style: square;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: purple;
  color: red;
}

tr:nth-child(even) {
  background-color: blue;
  color: red;
}

a:hover {
  background-color: purple;
  color: black;
  text-decoration: none;
}

blockquote {
  background-color: black;
  color: white;
  display: inline;
}

#checkbox-grid {
  list-style: none;
}

#teamRoster > li:first-child {
  background: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg") no-repeat;
  background-size: contain;
  border: 1px solid black;
  display: inline-flex;
}

#teamRoster > li:last-child {
  background: linear-gradient(rgba(255,255,255,0.75), rgba(255, 255, 255, 0.75)), url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg") no-repeat;
  background-size: contain;
}

#teamRoster > li > img {
  visibility: hidden;
}

ol > li:first-child {
  font-weight: bold;
}
